.App {
  text-align: center;
  background-color: #ffffff;
  min-height: 100vh;
}

.mainContent {
  padding-bottom: 1rem;
}

/* button {
  font-size: calc(10px + 2vmin);
} */

.home {
  margin-top: 2rem;
  margin: auto;
  width: 80%;
}
 /* ======================= header ======== */

.navbar {
  padding: 1rem 0;
  background-color: #350099;
}

.navItems {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: px;
}

#mainLogo {
  grid-area: 1 / 1 / 2 / 2;
}

#textLogo {
  grid-area: 1 / 2 / 2 / 3; 
}

.logoContainer {
  display: flex;
  align-items: center
}

.mainLogo {
  height: 2rem;
  margin: 0 1rem;
}

.textLogo {
  height: 2.5rem;
  margin: 0 auto;
}
 /* =================== Price boxes ======================= */

.priceContainer {
  background-color: #350099;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin-top: 2rem;
}

.boxHeader {
  background-color: #cccc33;
  border-radius: 1rem 1rem 0 0;
  padding: .5rem;
}

.boxContent {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5rem;
}

.h3Container {
  background-color: #cccc33;
  margin-bottom: 1rem;
  padding: .2rem .5rem;
  border-radius: 2rem;
}

h3 {
  color: #350099;
  font-family: Visby Bold;
}

p {
  color: #ffffff;
}

h2 {
  color: #350099;
  font-family: Visby Bold;
}

.price {
  font-size: 1.5rem;
  margin-top: 0;
}

.footerText {
  margin: 0 0 0 0;
  padding-bottom: 1rem;
}

@media (min-width : 480px) {
  .price {
  font-size: 2rem;
  }
}

@media (min-width : 767px) {
  .bodyDisplay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 1.5rem;
    margin-top: 3rem;
  }

  .home {
    width: 90%;
  }

  #usd {
    flex: 0 0 33%;
  }

  #eur {
    flex: 0 0 33%;
  }

  #usdt {
    flex: 0 0 100%;
  }

  .price {
    font-size: 2rem;
  }
  
  .priceContainer {
    min-width: 300px;
    margin-top: 1rem;
  }

  .mainLogo {
  height: 2.5rem;
  }

  .textLogo {
  height: 3rem;
}

}

@media (min-width : 1024px) {
  .bodyDisplay {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1.5rem;
    grid-row-gap: 0px;
  }

  #usd {
    grid-area: 1 / 1 / 2 / 2;
  }

  #eur {
    grid-area: 1 / 2 / 2 / 3;
  }

  #usdt {
    grid-area: 1 / 3 / 2 / 4;
  }

  .price {
    font-size: 2rem;
  }
  
  .priceContainer {
    margin-top: 3rem;
  }
}

@media (min-width : 1280px) {
  .bodyDisplay {
    margin-top: 6rem;
  }
}

/* =================== button wsp =============== */

.buttonSection {
  margin: 2rem;
}

.wspText {
  display: flex;
  justify-content: center;
}

.wspButton {
  border: none;
  background-color: #25d366;
  color: #ffffff;
  font-size: 1.5rem;
  width: 200px;
  padding: 1rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  transition: background-color 200ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.wspButton:hover {
  background-color: #075e54;
  cursor: pointer;
}

.wspIcon {
  margin-right: .5rem;
}

@media (min-width : 767px) {
  .buttonSection {
    margin: 5rem;
  }
}

/* ================== admin form ===================  */

.adminForm {
  padding-bottom: 1rem;
}

.inputContainer {
  display: flex;
  justify-content: space-around;
  min-height: 73px;
}

.priceInput {
  width: 100px;
  background-color: #290076;
  border: none;
  border-radius: 1rem;
  padding: .83rem;
  margin-bottom: .5rem;
}

.button-checkBox {
  margin: 1rem 0;
}

.button {
  border: none;
  padding: .5rem;
  background-color: #cccc33;
  border-radius: 2rem;
  color:  #350099;
  cursor: pointer;
  font-family: Visby Bold;
  font-size: medium;
  transition: color 300ms ease-in-out;
}

.button:hover {
  cursor: pointer;
}

.error {
  color: #ffffff;
}

input, select, textarea{
    color: #ffffff;
}

::placeholder {
  color: #ffffff;
  opacity: 1; 
}

.inputErrorContainer {
  width: 131px;
}

.inicioButton {
  border: none;
  background-color: #cccc33;
  color: #350099;
  font-family: Visby Bold;
  font-size: 1.5rem;
  width: 200px;
  padding: 1rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  transition: background-color 200ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.inicioButton:hover {
  /* background-color: #290076; */
  cursor: pointer;
}

/* ============== LogIn ============= */

.logInContainer {
  background-color: #350099;
  width: 80%;
  margin: 2rem auto;
  border-radius: 1rem;
  max-width: 450px;
}

.logInTitle {
  background-color: #cccc33;
  border-radius: 1rem 1rem 0 0;
  margin-bottom: 1rem;
  padding: .5rem 0;
}

.logInBody{ 
  padding: 1rem;
}

.logInInput {
  background-color: #290076;
  border: none;
  border-radius: 1rem;
  padding: .83rem;
}

.loginInputContainer {
  margin-bottom: .5rem;
  min-height: 65px;
}

.logInButton {
  padding: .5rem 1rem;
}