.App {
  text-align: center;
  background-color: #ffffff;
  min-height: 100vh;
}

.mainContent {
  padding-bottom: 1rem;
}

button {
  font-size: calc(10px + 2vmin);
}

.home {
  margin-top: 2rem;
  margin: auto;
  width: 90%;
}
 /* ======================= header ======== */

.navbar {
  padding: 1rem 0;
  background-color: #350099;
}

.navItems {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: px;
}

#mainLogo {
  grid-area: 1 / 1 / 2 / 2;
}

#textLogo {
  grid-area: 1 / 2 / 2 / 3; 
}

.logoContainer {
  display: flex;
  align-items: center
}

.mainLogo {
  height: 2.5rem;
  margin: 0 1rem;
}

.textLogo {
  height: 3rem;
  margin: 0 auto;
}
 /* =================== Price boxes ======================= */

.priceContainer {
  background-color: #350099;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-top: 5px solid #cccc33;
  margin-top: 1.5rem;
}

.boxHeader {
  background-color: #290076;
  border-radius: 1rem 1rem 0 0;
  padding: .5rem;
}

.boxContent {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

h3 {
  color: #ffffff;
  font-size: 1.5rem;
}

p, h2 {
  color: #cccc33;
}

.price {
  font-size: 2rem;
  margin-top: 0;
}

.footerText {
  margin: 0 0 0 0;
}